<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Modificar Lista de Canciones</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        align-items: center;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
          align-items: center;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
  </head>

  <body class="d-flex justify-content-center h-100 text-center text-white bg-dark">
    <main class="px-3">
      <hr>
      <h1>Expanda y modifique su repertorio musical con nuevas canciones</h1>
      <hr>
      <!-- Caso 1: EXITO (VERDE = #109748) -->
      <!-- Caso 2: FALLA (ROJO = #CF3944) -->
      <h3><font color="{{color}}">¡Atención! {{mensaje}}</font></h3>

      <p class="lead">Es necesario llenar todos los campos para registrar una nueva canción...<br>
        Y también para modificar una canción ya existente en la base de datos.</p>
      <hr>

      <div class="bd-placeholder-img"><i><br>
        <table>
          <tr>
            <th>Nombre</th>
            <th>Artista</th>
            <th>Género</th>
            <th>Año</th>
            <th>Link</th>
            <th>Opciones</th>
          </tr>
    
          <tr>
            <form action="/admin/add" method="POST"> <!-- Formulario ADD: Agregar -->
              <td><input type="text" class="form-control" size="20" name="nombre"></td>
              <td><input type="text" class="form-control" size="20" name="artista"></td>
              <td><input type="text" class="form-control" size="10" name="genero"></td>
              <td><input type="number" min="0" max="2021" class="form-control" size="1" name="anio"></td>
              <td><input type="text" class="form-control" size="45" name="link"></td>
      
              <td><input type="submit" class="btn btn-success" value="  Agregar "></td>
            </form>
          </tr>
          
          {% for row in consulta %}
            <tr>
              <form action="/admin/act" method="POST"> <!-- Formulario ACT: Actualizar -->
                <input type="hidden" name="id" value="{{row[0]}}">
                <td><input type="text" class="form-control" size="20" name="nombre" value="{{row[1]}}"></td>
                <td><input type="text" class="form-control" size="20" name="artista" value="{{row[2]}}"></td>
                <td><input type="text" class="form-control" size="10" name="genero" value="{{row[3]}}"></td>
                <td><input type="number" min="0" max="2021" class="form-control" size="1" name="anio" value="{{row[4]}}"></td>
                <td><input type="text" class="form-control" size="45" name="link" value="{{row[5]}}"></td>
                
                <td><input type="submit" class="btn btn-primary" value="Actualizar"></td>
              </form>
              
              <form action="/admin/del" method="POST"> <!-- Formulario DEL: Eliminar -->
                <input type="hidden" name="id" value="{{row[0]}}">

                <td><input type="submit" class="btn btn-danger" value="  Eliminar "></td>
              </form>  
            </tr>
          {% endfor %}
        </table>
      </div></i><br><hr>

      <footer>
        <div class="lead"><nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" href="/">Volver a la Página Principal</a> <!-- LINK DE INICIO -->
          </nav></div>
      </footer>
    </main>
  </body>
</html>
