<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Búsqueda Personalizada</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <nav class="nav nav-masthead justify-content-center float-md-start">
          <a class="nav-link active" aria-current="page" href="/">Volver a la Página Principal</a> <!-- LINK DE INICIO -->
        </nav>
        
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <h3 class="float-md-start mb-0">RockolaWeb.com</h3>
        </nav>
      </header>

      <main class="px-3">
        <hr>
        <h1>Búsqueda Personalizada</h1>
        <hr>

        <p class="lead">No es necesario llenar todos los campos para realizar la búsqueda...
          Entre más campos complete, más específica será la búsqueda.</p>
        <hr>

        <form action="/resultados" method="POST"> <!-- LINK DE RESULTADOS -->

          <div class="form-floating">
            <input type="text" class="form-control" placeholder=" " name="nombre">
            <label for="nombre"><font color="#616161">Nombre</font></label>
          </div>
          
          <div class="form-floating">
            <input type="text" class="form-control" placeholder=" " name="artista">
            <label for="artista"><font color="#616161">Artista</font></label>
          </div>
          
          <div class="form-floating">
            <input type="text" class="form-control" placeholder=" " name="genero">
            <label for="genero"><font color="#616161">Género</font></label>
          </div>
          
          <div class="form-floating">
            <input type="number" class="form-control" min="0" max="2021" placeholder=" " name="anio">
            <label for="anio"><font color="#616161">Año</font></label>
          </div>
          <hr>
          <input type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" value="Buscar Canción">
          <input type="reset" class="btn btn-lg btn-secondary fw-bold border-white bg-white" value="Limpiar Campos">
          <hr>
        </form>
      </main>
    </div>  
  </body>
</html>