<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Reproductor de música</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
  </head>
  
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main class="px-3">
        <hr><h1>{{nombre}}</h1><hr> <!-- Nombre de la cancion -->
        <h4><i>{{artista}} ({{genero}} - {{anio}})</i></h4><hr> <!-- Las demas variables... -->
        <!-- Link de la cancion -->
        <iframe width="560" height="315" src="{{link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr>
      </main>
      
      <footer class="mb">
        <nav class="nav nav-masthead justify-content-center float-md-start">
          <a class="nav-link active" aria-current="page" href="/">Volver a la Página Principal</a> <!-- LINK DE INICIO -->
        </nav>
        
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="/filtro">Filtrar Búsqueda</a> <!-- LINK DE FILTRO -->
        </nav>
      </footer>
  </body>
</html>