{% extends 'layout.html' %}

{% block content %}
    <h2>
        Editar cancion
    </h2>
    <div>
        <form action="{{url_for('actualizar')}}" method="POST">

            <label for="id">id</label>
            <input value="{{rstDB[0]}}" type="text" name="id" readonly="readonly">
            <br>
            <br>
            <label for="nombre">Nombre</label>
            <input value="{{rstDB[1]}}" type="text" name="nombre">
            <br>
            <br>
            <label for="artista">Artista</label>
            <input value="{{rstDB[2]}}" type="text" name="artista">
            <br>
            <br>
            <label for="genero">Genero</label>
            <input  value="{{rstDB[3]}}" type="text" name="genero">
            <br>
            <br>
            <label for="anio">Año</label>
            <input value="{{rstDB[4]}}" type="number" name="anio">
            <br>
            <br>
            <label for="link">Link</label>
            <input value="{{rstDB[5]}}" type="text" name="link">
            <br>
            <br> 
            <input type="reset" value="Restablecer">
            <input type="submit" value="Actualizar Datos">
        </form>
    </div>
{% endblock %}