{% extends 'layout.html' %}

{% block content %}
    <h2>
    ¡Agrega las canciones que mas te gusten!
    </h2>
    <hr>
    <div>
        <form action="{{url_for('insertar')}}" method="POST">
    
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre">
            <br>
            <br>
            <label for="artista">Artista</label>
            <input type="text" name="artista">
            <br>
            <br>
            <label for="genero">Genero</label>
            <input type="text" name="genero">
            <br>
            <br>
            <label for="anio">Año</label>
            <input type="number" name="anio">
            <br>
            <br>
            <label for="link">Link</label>
            <input type="text" name="link">
            <br>
            <br> 
            <input type="reset" value="Limpiar">
            <input type="submit" value="Guardar">
        </form>
    </div>
    <hr>
    <ul>
        <li>
            <a href="{{url_for('index')}}">Pagina de inicio</a>
        </li>
    </ul>
{% endblock %}